/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4taVIGxA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4kaVIGxA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4saVIGxA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4jaVIGxA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4iaVIGxA.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4vaVIGxA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4uaVIGxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  height: 100%;
}

body {
  background: #fff;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', 'PT Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  font-size: 13px;
  height: 100%;
}

.middle-button:hover {
  opacity: 0.85;
}

.blue {
  background: #4eb3ea;
}

.gray {
  background: #2f323a;
  transition: background 0.3s ease;
}

a { 
  text-decoration: none;
}

a, img {
  border: 0px;
}

p {
  margin: 0px;
}

h3, .h3 {
  margin: 0px;
  font-size: 24px;
}

.login-background .col10 {
  width: 100%;
  min-height: 100vh;
  float: left;
  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login-background {
  height: calc(100vh - 40px);
  width: 100%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  background: #f1f1f1;
  background-size: cover;
  background-position: center center;
}

.login-background .form-inner-wrapper {
  position: relative;
  background: #fff;
  padding: 40px 30px 50px;
  text-align: center;
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
  -webkit-box-shadow: -12px 13px 78px -2px rgba(0,0,0,0.11);
  -moz-box-shadow: -12px 13px 78px -2px rgba(0,0,0,0.11);
  box-shadow: -12px 13px 78px -2px rgba(0,0,0,0.11);
  border-radius: 7px;
  left: auto;
  top: auto;
  margin: 0 auto;
}

.form-inner-wrapper img {
  margin-bottom: 30px;
}

.form-inner-wrapper h2 {
  font-size: 36px;
  margin-bottom: 10px;
  display: block;
  margin-top: 40px;
}

.form-inner-wrapper .slogan {
  font-size: 16px;
  color: #777;
  display: block;
  line-height: 1.4;
}

.form-inner-wrapper input {
  width: 100%;
  float: left;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  padding: 19px 0;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-inner-wrapper input[type="text"],
.form-inner-wrapper input[type="password"] {
  text-indent: 14px;
}

.form-inner-wrapper input:focus {
  border-color: #4eb3ea;
  transition: border-color 0.3s ease;
}

.form-inner-wrapper span {
  color: #777;
}

.form-inner-wrapper span.info {
  line-height: 1.4;
  font-size: 14px;
  margin-top: 20px;
  display: block;
}

.form-inner-wrapper .buttons-wrapper {
  float: left;
  width: 100%;
  margin: 40px 0 20px;
  text-align: center;
}

.form-inner-wrapper a.middle-button {
  float: none;
  display: inline-block;
  height: 50px;
  line-height: 50px;
}

.form-inner-wrapper .back-to-builder-r p {
  margin-right: 0;
  margin-left: 15px;
}

.form-inner-wrapper .error {
  color: #eb6a56;
}

.forgot-password {
  display: block;
  margin-bottom: 25px;
}

.final-line {
  float: left;
  width: 100%;
  text-align: center;
  color: #777;
  font-size: 16px;
  margin-bottom: 50px;
}

.login-modal-info {
  font-size: 18px;
  margin: 0 0 20px 0;
  display: block;
}

.login-modal-wrapper {
  width: 460px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -200px;
  margin-left: -230px;
  color: #71777d;
  padding-bottom: 70px;
}

.login-input-wrapper {
  width: 100%;
  max-width: 370px;
  margin: 20px auto 0;
  overflow: hidden;
}

.button {
  padding: 0 23px;
  color: #ffffff;
  font-size: 13px;
  display: block;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: left;
  height: 33px;
  line-height: 33px;
  text-align: center;
  min-width: 28px;
}

.middle-button {
  color: #ffffff;
  border: none;
  float: left;
  font-size: 13px;
  padding: 0 22px;
  display: block;
  text-align: center;
  height: 42px;
  line-height: 42px;
  min-width: 35px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.middle-button.disabled {
  background: #ccc !important;
}

.middle-button-big {
  height: 48px;
  line-height: 48px;
}

.middle-button2 {
  height: 38px;
  border: 2px solid #2f323a;
  line-height: 38px;
  color: #2f323a;
}

.middle-button2:hover {
  background: #2f323a;
  color: #fff;
}

.big-button {
  color: #ffffff;
  border: none;
  font-size: 14px;
  padding: 20px 30px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 35px;
}

.next-button p {
  display: inline-block;
  margin-left: 15px;
}

.login-input-wrapper .button-wrapper {
  display: block;
  float: right;
  margin-bottom: 15px;
  width: 100%;
  margin-top: 10px;
}

.login-input-wrapper .button-wrapper .middle-button {
  float: right;
  padding: 0px;
  width: 100%;
  cursor: pointer;
  line-height: 54px;
  height: 54px;
  font-size: 15px;
}

.login-background {
  padding: 0;
}

.logo-login {
  width: 44px;
  height: 53px;
  background-size: cover;
  margin: 30px auto 0px;
  display: block;
}

.terms-agree {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  color: #777;
  line-height: 1.4;
  float: left;
  width: 100%;
}

.username-example {
  margin-top: -5px;
  margin-bottom: 10px;
  display: block;
}

.login-logo {
  margin: 0 auto 40px;
  display: block;
  width: 50px;
  opacity: .3;
}

.form-wrapper .back-btn {
  width: 33px;
  height: 33px;
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.signup-logo {
  max-width: 300px;
  position: absolute;
  top: 60px;
  left: 60px;
}

#tmdp-simple-lightbox {display: none}

.login-background.with-image {
  background: url(../images/login-bg3.jpg) no-repeat;
}

.form-inner-wrapper span.info {
  line-height: 1.4;
  font-size: 14px;
  margin-top: 20px;
  display: block;
}

.form-inner-wrapper span {
  color: #777;
}

.blue-text {
  color: #4eb3ea;
}

@media screen and (max-width: 1024px) {
  .login-background .form-wrapper {
    margin: 0 auto;
  }
}

@media screen and (max-width:767px) {
  .login-background .form-wrapper,
  .login-style2 .form-wrapper{
    padding: 0;
  }

  .login-background .form-inner-wrapper {
    box-shadow: none;
  }

  .login-background {
    background: #fff;
  }

  .signup-logo {
    top: 20px;
    left: 20px;
    max-width: 170px;
  }

  .login-background .form-inner-wrapper {
    margin-top: 0px;
  }
}

@media screen and (max-height: 800px) {
  .form-inner-wrapper img {
    display: none;
  }
}